---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  
  <blockquote class="lead">{{ content }}</blockquote>
</div>

<div class="related">
  <h2>Recent Quotes</h2>
  <ul class="related-posts">
    {% for node in site.posts where:"layout","quote" limit:5 %}
      <li>
        <h3>
          {% if node.title != page.title %}
            <a href="{{ node.url }}">
              {{ node.title }}
              <small>{{ node.date | date_to_string }}</small>
            </a>
          {% endif %}
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
